

<div class="container">

<h4 class="cyan-text"> <%= @Service.name %> </h4>
<div class="divider"></div>

<div >

  <h5 class=" nabout "> <%= @Service.about %> </h5>

</div>


<br>
<div class="divider"></div>
<br>
<h5 class="cyan-text">
Our Experts:
</h5>
<% @Service.experts.each do |expert| %>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-4 author author-wrapper ">
      <div class="card noracolor">
        <div class="card-content cyan-text">
          <span class="card-title"><%= expert.name %></span>
          <p class="black-text"><%= expert.bio %></p>
        </div>
        <div class="card-action">
    
         <p class="black-text">  <%= link_to "More", expert_path(expert) %> </p>
        </div>
      </div>
    </div>
  </div>
 <% end %>

 </div>