<div class = "container">
Welcome <%= @user.first_name %> <%= @user.last_name %>
<br>




<section class="selection ">
    <div class="row">
        <div class="col s4">
            <div class="collection ">
                <p class=" cyan-text collection-item"> Last log in <span class="badge " > <%= @user.last_seen_at.strftime "%B %d, %Y"  %>   </span></p>
               
                <p class=" cyan-text collection-item"> Pending reservations <span class="badge red white-text" > <%= @user.reservations.count %>   </span></p>
            </div>
        </div>
    </div>
</section>


    <% @user.reservations.each do |reservation| %>
    <% if reservation.expert %>
        
            <h6 >You have  reservation with:  <span class="cyan-text"> <%= reservation.expert.name %> </span>  </h6>
           <h6> Reservation Reference  <span class="cyan-text"><%=reservation.id  %></span>  <h6>
           
          <button class="green "> <%= link_to "Edit", edit_reservation_path(reservation) %> </button> 
          <button class= "red"><%= link_to "Delete", reservation_path(reservation)  ,method: :delete  %> </button> 
        
       
        <% end %>
    <% end %>

</div>