<%  @experts.each do |expert| %>
    <div class="row">
        <h5><%= link_to expert.name, expert_path(expert) %> </h5>
      <div class="col s7 divider ">  <%= expert.major %>  </div>
       <div class="col s7 "> <%= expert.bio %> </div>
       <div class="col s7 "> <%= expert.major %> </div>
    </div>
<% end %>



<%= link_to 'google', services_path %>