<%  @experts.each do |expert| %>
    <div>
        <h3><%= link_to expert.name, expert_path(expert) %> </h3>
        <%= expert.major %> <br>
        <%= expert.bio %> <br>
        <%= expert.major %> <br>
    </div>
<% end %>



<%= link_to 'google', services_path %>